/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filtres-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1{
    font-size: 22px;
    font-weight: bold;
}

h3{
    font-size: 16px;
    font-weight: bold;
} 

h4{
    font-size: 16px;
    font-weight: 300;
    margin: 0%;
    padding-top: 10px;
}
/****** Header *********/

header{
    width: 100%;
    height: 79px;
    display:flex;
    flex-direction:row; 
    box-sizing: border-box;
    margin-top: 0%;
}

header .menu {
    width: 244px;
    height: 30px;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

header .menu-link{
    width:fit-content;
    height:30px;
    margin-top: 0px;
    box-sizing: border-box;  
}

header .menu-item{
    padding-left: 3px;
    padding-right: 3px;
}

header .menu-item h4{
    font-size: 16px;
    font-weight: 300;
    margin: 0%;
    padding-top: 10px;
}

header .menu-link:hover{
    border-top: #0065FC solid;
    color: #0065FC;
}

header .logo{
    display: flex;
    width: 61px;
    align-items: center;
}

header .logo img{
   width: 100%;
   height: 19px;
}

/*********** Recherche ***************/

.recherche{
    width: 100%;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    row-gap: 35px;
    margin-top: 30px;
    margin-bottom: 35px;

}
.recherche .title-text{
    margin-bottom: 0;
}

.recherche .title-text h1{
    margin: 0px 0px 10px;    
}

.recherche .title-text p{
    margin: 0px;
}

/*********** Barre de recherche ***************/

.barre-recherche{
    /*height: 50px;*/
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
}

.barre-recherche .fa-solid{
    color:black;
}

.barre-recherche .gps{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    border: 0;
    box-sizing: border-box;
}

.barre-recherche .searchfield{
    font-size: 18px;
    font-weight: bold;
    flex: 0 0 195px;
    height: 50px;
    border:0;
    padding-left: 10px;
    border-bottom: #F2F2F2 1px solid;
    border-top: #F2F2F2 1px solid;
    box-sizing: border-box;
}

.barre-recherche .searchfield input[type="search"]:focus{
    outline: #F2F2F2 1px solid;
    border: none;
}

.barre-recherche .submit-container{
    flex: 0 0 132px;
    height: 50px;
    border: 0;
    box-sizing: border-box;
}

.barre-recherche .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    box-sizing: border-box;
}

.barre-recherche .submit .text{
    display: inline;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.barre-recherche .submit .icon{
    display: none;
}

.barre-recherche .submit .fa-solid{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    
}

/*********** Filtres ***************/

.filtres{
    max-width: 758px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.filtres .title h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}

.filtres .filtres-types{
    width: 689px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.filtres .filtres-button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.filtres-button .fa-solid{
    font-size: 22px;
}

.filtres-button h4{
    padding:0;
    font-size: 17px;
    font-weight: bold;
}

.filtres .filtres-button:hover{
    background-color: #DEEBFF;
}

/*********** Infos ***************/
.infos{
    width: 100%;
    height: 24px;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.info-logo {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 10px;
    color:#0065FC;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    box-sizing: border-box;
}

.hebergements-cards a{
    flex: 0 0 30.87%;
    height: 207.25px;
}

.hebergements-cards .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

    
.hebergements-cards img{
    height:114px;
    width:100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hebergements-cards .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 10px;
    box-sizing: border-box;
    
}

.hebergements-cards .card-title{
    margin-top: 5px;
    box-sizing: border-box;
    
}

.hebergements .card-subtitle{
    margin-top: 10px;
    font-size: 14px;
    
}

.hebergements .card-rating{
    margin: 5px 0;
    box-sizing: border-box;
    
}

.hebergements .card-rating .fa-solid{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.hebergements .afficher-plus h3{
    margin:0;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires .card-rating .fa-solid{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/**********Activités**************/

.activites{
    margin: 35px 0px;
    width:100%;
    display:flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}
.activites-title h2{
    margin:0;
}

.activites-cards{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards a{
    width: 23.25%;
}

.activites-cards .card{
    padding: 0px;
    margin-top: 15px;
}

.activites-cards img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}
.activites-cards .card-txt{
    display: flex;
    height: 59px;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}
.activites-cards .card-txt h3{
    margin: 0;
    padding: 0;
}

/***********Footer************/

.footer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    box-sizing: border-box;
    
}

.footer-column{
    width:33%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer-column h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer-column ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-column li{
    font-size: 16px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .filtres{
        max-width: 689px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        box-sizing: border-box;
    } 
    .filtres .filtres-types{
        width: 100%;
    } 
   
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .card-title {
        font-size: 16px;
        font-weight: bold;
    }

    .hebergements .card-subtitle {
        font-size: 14px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards a{
        width: 22.4%;
    }

    .activites-cards img{
        height: 200px;

    }

    .activites-cards .card-txt{
        height: 70px;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
   
    .main-container {
        padding: 0;
    }
    
    /*******header*******/

    header{
        height: 115px;
        display:flex;
        flex-direction:column; 
        align-items: center;
        box-sizing: border-box;
        margin-top: 0%;
    }

    header .logo{
        padding: 30px 0;
    }

    header .menu {
        width: 100%;
        height: 36px;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
    
    header .menu-link{  
        display:flex;
        justify-content: center;
        width:50%;
        height:36px;
        margin-top: 0px;
        box-sizing: border-box;  
    }
    
    header .menu-link:hover{
        border-top: none;
        border-bottom: #0065FC solid;
        color: #0065FC;
    
    }

    header .menu-item h4{
        padding-top: 0;
        padding-bottom: 10px;
    }

    /*********** Research ***************/

    .recherche{
        padding: 35px 20px;
        margin: 0;
        row-gap: 35px;
    }
    
    .barre-recherche{
        justify-content: center;
        box-sizing: border-box;
    }

    .barre-recherche .gps{
        flex: 0 1 50px;
        min-width: 10px;
    }

    .barre-recherche .searchfield{
        flex: 0 1 235px;
        min-width: 100px;
    }

    .barre-recherche .submit-container{
        flex:0 1 50px;
        min-width: 10px;
        border-bottom: #F2F2F2 1px solid;
        border-top: #F2F2F2 1px solid;
        border-radius: 0 15px 15px 0;
        box-sizing: border-box;
    }
    .barre-recherche .submit{
        width: 100%;
        border-radius: 15px;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));     
    }

    .barre-recherche .submit .text{
        display: none;
    }

    .barre-recherche .submit .icon{
        display: inline;
    }

    .filtres{
        width:100%;
    }
    .filtres .filtres-types{
        width:100%;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }

    .filtres .filtres-button{
        width: 48%;
    }

    .filtres-button h4{
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
        border-radius: 0;
        padding: 20px;
    }

    .populaires{
        margin-top: 0;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card{
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
        max-width: 400px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements{
        background-color: #FFFFFF;
        margin-top: 15px;
        padding: 20px 0;
    }
    .hebergements-cards{
        margin-top: 0;
        margin-bottom: 15px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: 0;
    }

    .hebergements-cards .card{
        margin-top: 15px;
    }

    .hebergements-cards img{
        object-position: 50% 60%;
    }

    .hebergements-cards a{
        width: 100%;
        max-width: 400px;
        flex: 0 0 100%;
        height: 210px;
        box-sizing: border-box;
    }

    .hebergements .card-rating{
        margin: 10px 0px 5px 0px;
        box-sizing: border-box;
    }

    .activites-title h2{
        margin:0 0 15px;
    }

    .activites-cards{
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    
    .activites-cards a{
        width: 100%;
        max-width: 400px;
    }
    
    .activites-cards .card{
        padding: 0px;
    }
    
    .activites-cards img{
        height: 141px;
        object-position: 50% 40%;
    }

    .activites-cards .card-txt{
        height: 59px;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        row-gap: 45px;
        align-items: flex-start;
    }
    
    .footer-column{
        width: fit-content;
    }
}
